* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("./assets/images/blog-bg.jpg");
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: top center;
  color: #fff;
}

.wrapper {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
